<div class="form-floating" [formGroup]="formGroup">
  <input
    type="text"
    class="form-control"
    [formControlName]="formControlName"
    [ngClass]="{
      'is-valid': control.touched && control.valid,
      'is-invalid': control.touched && !control.valid
    }"
    [placeholder]="placeholder"
    (input)="onInputChange($event)"
    (blur)="onBlur()"
    [value]="value"
    [type]="type"
  />
  <label *ngIf="label" [for]="formControlName">{{ label }}</label>
  <div *ngIf="control.invalid && (control.dirty || control.touched)" class="invalid-feedback">
    <i *ngFor="let errMsg of errorMessages()" class="d-block">* {{ errMsg }}</i>
  </div>
</div>
