<div>
  <div class="row">
    <div class="col-xl-3 col-md-6">
      <app-bank-account-card></app-bank-account-card>
    </div>
    <div class="col-xl-3 col-md-6">
      <app-account-balance-card></app-account-balance-card>
    </div>
    <div class="col-xl-4 col-md-6">
      <app-summary-chart></app-summary-chart>
    </div>

    <div class="col-xl-4 col-md-12"></div>
  </div>
  <div class="row">
    <div class="col-3 col-md-6">
      <div class="card total-income-card overflow-hidden bg-primary-dark text-white">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="avatar avatar-lg icon m-r-5">
              <i class="text-white ti ti-layout-board-split f-24"></i>
            </div>
            <div class="ms-2">
              <h4 class="text-white f-w-600 mb-1">$203k</h4>
              <p class="mb-0 opacity-50 text-sm">Total Income</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 col-md-6">
      <div class="card total-income-card warning overflow-hidden">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="avatar avatar-lg icon-warning m-r-5">
              <i class="text-warning ti ti-layout-board-split f-24"></i>
            </div>
            <div class="ms-2">
              <h4 class="f-w-600 mb-1">$203k</h4>
              <p class="mb-0 opacity-50 text-sm">Total Income</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6 col-md-12">
      <app-latest-transactions-card></app-latest-transactions-card>
    </div>
    <div class="col-xl-6 col-md-12">
      <app-latest-transactions-card></app-latest-transactions-card>
    </div>
  </div>
</div>
