<!-- src/app/pages/dashboard/admin-dashboard/admin-dashboard.component.html -->
<div class="p-2">
  <div class="row">
    <div class="col ">
      <div class="card total-income-card warning overflow-hidden">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="avatar avatar-lg icon-warning m-r-5">
              <i class="text-warning ti ti-layout-board-split f-24"></i>
            </div>
            <div class="ms-2">
              <h4 class="f-w-600 mb-1">{{totalActiveAccounts}}</h4>
              <p class="mb-0 opacity-50 text-sm">Active accounts</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card total-income-card warning overflow-hidden">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="avatar avatar-lg icon-warning m-r-5">
              <i class="text-warning ti ti-layout-board-split f-24"></i>
            </div>
            <div class="ms-2">
              <h4 class="f-w-600 mb-1">{{totalInactiveAccounts}}</h4>
              <p class="mb-0 opacity-50 text-sm">Inactive accounts</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col ">
      <div class="card total-income-card warning overflow-hidden">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="avatar avatar-lg icon-warning m-r-5">
              <i class="text-warning ti ti-layout-board-split f-24"></i>
            </div>
            <div class="ms-2">
              <h4 class="f-w-600 mb-1">{{totalAdmins}}</h4>
              <p class="mb-0 opacity-50 text-sm">Admin accounts</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" style="height: calc(100vh - 200px);"> 
  <div class="col card m-2" style="flex: 1;">
    <app-list-account></app-list-account>
  </div>
  <div class="col card m-2" style="flex: 1;">
    <app-latest-transactions-card></app-latest-transactions-card>
  </div>
</div>