<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="card my-5">
        <div class="card-body">
          <a href="#" class="d-flex justify-content-center">
            <img src="assets/images/banking-icon.png" alt="logo" width="200" />
          </a>
          <div class="row">
            <div class="d-flex justify-content-center">
              <div class="auth-header">
                <h2 class="text-secondary mt-5"><b>Simple Bank</b></h2>
                <p class="fs-4 mt-2">Enter your credentials to continue</p>
              </div>
            </div>
          </div>

          <form [formGroup]="loginForm">
            <div class="mb-3">
              <app-text-input formControlName="email" label="Email" placeholder=""></app-text-input>
            </div>
            <div class="mb-3">
              <app-text-input formControlName="password" type="password" label="Password" placeholder=""></app-text-input>
            </div>

            <div class="d-flex mt-1 justify-content-between">
              <h5 class="text-secondary">
                <a href="javascript:">Forgot Password?</a>
              </h5>
            </div>
          </form>

          <div class="d-grid mt-4">
            <button [disabled]="this.loginForm.invalid" type="button" (click)="onSubmit()" class="btn btn-secondary">Sign In</button>
          </div>
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>
