<!-- src/app/components/confirm-modal/confirm-modal.component.html -->
<div class="modal" tabindex="-1" role="dialog" [hidden]="!show">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Transaction</h5>
        <button type="button" class="btn-close" (click)="onCancel()" aria-label="Close" style="float: right; margin-left: auto;">
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to perform this transaction?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="onConfirm()">Agree</button>
      </div>
    </div>
  </div>
</div>