<li class="list-group-item border-2 mt-1 rounded-2">
  <div class="d-flex justify-content-between align-items-start">
    <div class="flex-grow-1">
      <div class="d-flex justify-content-between mb-2">
        <div class="text-muted">
          {{ value.transactionTime | date: 'medium' }} - <small class="text-muted">({{ value.transactionId }})</small>

        </div>
        <span class="transaction-status" [class]="value.status.toLowerCase()">
          {{ value.status }}
        </span>
      </div>
      <div class="mb-1">
        <strong>From Account:</strong> {{ value.fromAccount?.fullName }}
        <br>
        <strong>To Account:</strong> {{ value.toAccount?.fullName }}
      </div>

      @if (value.note) {
        <div class="text-muted small mt-1">
          <em>Note: {{ value.note }}</em>
        </div>
      }

    </div>
    <div class="ms-3">
      <strong class="fs-5" [class]="{'text-success': value.amount > 0, 'text-danger': value.amount < 0}">
        {{ value.amount.toLocaleString('en-US', {style: 'currency', currency: 'USD'}) }}
      </strong>
    </div>
  </div>
</li>
